<a href="https://colab.research.google.com/github/erlynnur/erlynnur/blob/main/week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
range (16)

range(0, 16)

In [8]:
# ini mau membuat for untuk loop
tanggal = [28,29,30,31]
N = int(4)

for i in range(N):
      print(tanggal[i])

28
29
30
31

In [16]:
# kalau ini mau membuat while loop
tanggal = [16,17,18,19,20]
i = 0
angka = 0

while(angka !=17):
      angka = tanggal[i]
      i = i + 1
      print(angka)
print("it took ", i ,"repetitions to get out of loop")

16
17
it took  2 repetitions to get out of loop

In [17]:
# nah kalau ini membuat nested loop yang outer loop
for i in range(16, 28):
    # nested loop
    for j in range(16, 28):
        print(i * j, end=' ')
    print()

256 272 288 304 320 336 352 368 384 400 416 432
272 289 306 323 340 357 374 391 408 425 442 459
288 306 324 342 360 378 396 414 432 450 468 486
304 323 342 361 380 399 418 437 456 475 494 513
320 340 360 380 400 420 440 460 480 500 520 540
336 357 378 399 420 441 462 483 504 525 546 567
352 374 396 418 440 462 484 506 528 550 572 594
368 391 414 437 460 483 506 529 552 575 598 621
384 408 432 456 480 504 528 552 576 600 624 648
400 425 450 475 500 525 550 575 600 625 650 675
416 442 468 494 520 546 572 598 624 650 676 702
432 459 486 513 540 567 594 621 648 675 702 729

weekly exercise 1

In [19]:
segitiga = int(input("Input berapa tinggi segitiga bintang: "))
print()

for i in range(segitiga):
  for j in range(segitiga-i):
    print(" ",end="")


  for k in range(i+1):
    print("* ",end="")
  print()

Input berapa tinggi segitiga bintang: 3

   *
  * *
 * * *

weekly exercise 2

In [20]:
pascal = int(input("input berapa banyak segitiga pascal: "))
for i in range(pascal):
     print(" " * (pascal - i), end=" ")
     a = 1
     for j in range(i+1):
        print(a, end=" ")
        a = a * (i - j) // (j + 1)
     print()

input berapa banyak segitiga pascal: 3
    1
   1 1
  1 2 1

Weekly exercise 3

In [1]:
a = int(input("masukkan angka: "))

a = a - 1
b = 1
jumlah = 0

for j in range(a + 1):
    print(b, end=" ")
    jumlah += b
    b = b * (a - j) // (j + 1)
print(f"\n hayo dibaris ke ", a + 1, "adalah", jumlah)

masukkan angka: 6
1 5 10 10 5 1
 hayo dibaris ke  6 adalah 32